<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Editar Serviço</h3>
        </div>
        <div class="card-body">
          <%= form_with(model: @service, local: true) do |f| %>
            <ul class="nav nav-tabs custom-tabs mb-3" id="serviceTabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="dados-gerais-tab" data-toggle="tab" href="#dados-gerais" role="tab" aria-controls="dados-gerais" aria-selected="true">
                  <i class="bi bi-info-circle"></i> Dados Gerais
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="fiscal-tab" data-toggle="tab" href="#fiscal" role="tab" aria-controls="fiscal" aria-selected="false">
                  <i class="bi bi-bank"></i> Fiscal
                </a>
              </li>
            </ul>
            <div class="tab-content" id="serviceTabsContent">
              <div class="tab-pane fade show active" id="dados-gerais" role="tabpanel" aria-labelledby="dados-gerais-tab">
                <%= render 'form', f: f, service: @service %>
              </div>
              <div class="tab-pane fade" id="fiscal" role="tabpanel" aria-labelledby="fiscal-tab">
                <%= render 'fiscal', f: f, service: @service %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>