<div class="card mb-3">
  <div class="card-header"><b>Observações Gerais</b></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <%= f.label :notes, 'Observações', class: 'form-label-sm' %>
        <%= f.text_area :notes, class: 'form-control form-control-sm', rows: 4 %>
      </div>
    </div>
  </div>
</div>