<h1>Detalhes da Pessoa</h1>

<p>Nome: <%= @person.name %></p>
<p>Documento: <%= @person.document %></p>
<p>Email: <%= @person.email %></p>
<!-- Adicione mais campos conforme necessário -->

<%= link_to 'Voltar', people_path, class: 'btn btn-secondary btn-sm' %>
