<div class="card">
  <div class="card-header">
    <h4 class="card-title">Documentação</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :documentation_url, 'URL da Documentação' %>
      <%= f.url_field :documentation_url, class: 'form-control' %>
    </div>
  </div>
</div> 