<h1>Novo Equipamento</h1>

<%= render 'tabs', equipment: @equipment %>

<% if @equipment.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@equipment.errors.count, 'erro') %> impediram este equipamento de ser salvo:</h4>
    <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', equipment: @equipment %>