<%# Cobrança/Faturamento do contrato %>
<%= render 'rentals/tabs', rental: @rental %>

<div class="card">
  <div class="card-header"><b>Cobrança / Faturamento</b></div>
  <div class="card-body">
    <p>Geração de cobranças e faturamento (medição) deste contrato.</p>
    <!-- Aqui vai a tabela de cobranças/faturamentos -->
  </div>
</div>
