<%# Movimentação de equipamentos do contrato %>
<%= render 'rentals/tabs', rental: @rental %>

<div class="card">
  <div class="card-header"><b>Movimentação</b></div>
  <div class="card-body">
    <p>Registro de remessas e devoluções dos equipamentos deste contrato.</p>
    <!-- Aqui vai a tabela de movimentações -->
  </div>
</div>
