<%# Produtos/Equipamentos do contrato %>
<%= render 'rentals/tabs', rental: @rental %>

<div class="card">
  <div class="card-header"><b>Itens do Contrato</b></div>
  <div class="card-body">
    <p>Lista de equipamentos/produtos vinculados a este contrato de locação.</p>
    <!-- Aqui vai a tabela de itens -->
  </div>
</div>
